{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--{% for institution in list_cat %}-->
<!--                    {% for inst in institution %}-->

<!--                    <label>-->
<!--                        <input type="radio" name="organization" value="old"/>-->
<!--                        <span class="checkbox radio"></span>-->
<!--                        <span class="description">-->
<!--                                  <div class="title" id="title1">{{inst.name}}</div>-->
<!--                                  <div class="subtitle">-->
<!--                                    {{inst.description}}-->
<!--                                  </div>-->
<!--                                </span>-->
<!--                    </label>-->

<!--                    {% endfor %}-->
<!--                {% endfor %}-->
<div>
<!--    <ul>-->
<!--        {% for institution in list_cat_not_duplicate %}-->
<!--        {% for inst in institution %}-->
<!--        <li>{{inst.name}}</li>-->
<!--    </ul>-->
<!--    {% endfor %}-->
<!--    {% endfor %}-->
    {{list_cat_not_duplicate}}
</div>
</body>
</html>


